.app {
    font-size: 28px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #4287f5;
}

.app--logo {
    display: inline-block;
    animation: app-logo-spin infinite 20s linear;
    margin: 0;
    padding: 0;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}