{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "quoteProps": "as-needed"
}